@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<h1>Hello world Axle!</h1>
<div>
<p>Detta är potentiellt en text till videon</p>
</div>